<!doctype html>
<html ng-app="chinchillaApp">
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Csincsilla nyilvántartó</title>
    <script src="/js/angularjs/1.6.1/angular.min.js"></script>
    <script src="/js/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="/js/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="/js/angularjs/1.5.9/angular-aria.min.js"></script>
    <script src="/js/angularjs/angular-material.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link rel="stylesheet" href="/css/angular-material.min.css" >
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/styles.css" >
    <script src="/chinchillaApp.js"></script>
    <script src="/controllers/mainCtrl.js"></script>
    <script src="/controllers/homeController.js"></script>
    <script src="/controllers/chinchillasController.js"></script>
    <script src="/controllers/newChinchillaController.js"></script>
    <script src="/controllers/cagesController.js"></script>
  </header>
  <body ng-controller="mainCtrl" class="container" layout="column">

    <header id="sl-header" layout="row" layout-margin flex="5">
      <button ng-click="nav('/chinchillas')" class="btn btn-default">Állatok</button>
      <button ng-click="nav('/cages')" class="btn btn-default">Ketrecek</button>
    </header>

    <div ng-view layout="row" flex></div>

    <footer id="sl-footer" layout="row" layout-margin flex="5">chin-footer</footer>

  </body>
</html>
