#chinList {
  height: 500px;
  overflow-y: scroll;
}

#cageSelector{
  height: 120px;
}

.nopadding {
  padding: 0;
}

md-dialog#getOutOfStuffDialog {
  width: 80%;
}

md-input-container {
  margin-bottom: 10px;
  height: 30px;
}

md-list-item {
  height: 20px;
  min-height: 0;
}
