<div layout="column" flex>
  <div layout="row" layout-align="center">
    <md-radio-group ng-model="selectedCageType">
      <md-radio-button class="inline-block" value="Tenyész">Tenyész</md-radio-button>
      <md-radio-button class="inline-block" value="Növendék">Növendék</md-radio-button>
      <md-radio-button class="inline-block" value="">Mindkettő</md-radio-button>
    </md-radio-group>
  </div>
  <div layout="row" layout-align="center" flex>
    <uib-accordion style="overflow-y: scroll;" flex="50">
      <div uib-accordion-group class="panel-default"
        ng-repeat="cage in cages | distinctCageGroupsFilter | orderBy:['type','groupNumber'] | filter: selectedCageType"
        heading="{{cage.groupNumber + ' ' + cage.type}}">
        <table>
          <tbody>
            <!--<tr><td>{{cage.groupNumber + '/' + cage.cageNumber + ' ' + cage.type}}</td></tr>-->
            <tr ng-repeat="c in cages | filter: filterCagesByGroupAndType(cage)">
              <td>{{c.groupNumber + '/' + c.cageNumber + ' ' + c.type}}</td>
            </tr>
          <tbody>
        </table>
      </div>
    </uib-accordion>
  </div>
  <!--<div layout="row" flex>
    <div layout="column" flex="33">
      <md-list style="overflow-y: scroll;" flex>
        <md-list-item ng-repeat="cage in cages | distinctCageGroupsFilter | orderBy:['type','groupNumber'] | filter: selectedCageType" ng-click="selectCage(cage)">
          <div class="md-list-item-text">
            <span>{{cage.groupNumber + " " + cage.type}}</span>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div layout="column" flex>
      Column 2
    </div>
  </div>-->
</div>
