<div layout="column" flex layout-margin>
  <div layout="row">
    <input type="text" placeholder="Keres..." ng-model="searchString" class="form-control">
  </div>
  <div layout="row" layout-margin>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="outsidersHided"> Csak állományban lévők
    </label>
    <button class="btn btn-success btn-xs" ng-click="navNewChinchilla()"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
  <div layout="row" style="overflow-y: scroll;" flex>
      <table class="table table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th>Azonosító</th>
            <th>Született</th>
            <th>Nem</th>
            <th>Kor</th>
            <th>Ketrec</th>
            <th>Törzskönyv</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="chin in chinchillas | orderBy: '-birthDate' | filter: inStuffFilter(outsidersHided) | filter: criteriaMatch(searchString)">
            <td><button class="btn btn-link btn-xs" ng-click="selectChin(chin)">{{chin.breeder.breederNumber}}{{chin.birthYearChar}}{{chin.yearCounter}}</button></td>
            <td>{{chin.birthDate | date: 'yyyy.MM.dd.' }}</td>
            <td>{{chin.sex}}</td>
            <td>{{chin.ageType}}</td>
            <td>
              <span ng-show="chin.cages">{{chin.cages[0].groupNumber + "/" + chin.cages[0].cageNumber}}</span>
              <span ng-show="chin.cages && chin.cages.length > 1">{{" - " + chin.cages[chin.cages.length - 1].cageNumber}}</span>
            </td>
            <td>
              <span ng-show="chin.pedigree">{{chin.pedigree.pedigreeYear + "/" + chin.pedigree.pedigreeSerial}}</span>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
