<div layout="column" flex>
  <div layout="row" flex>
    <div layout="column" flex="50">
      <div layout="row" layout-align="center">Bak</div>
      <div layout="row" layout-align="center" flex>
        <uib-accordion style="overflow-y: scroll;" flex="80">
          <div uib-accordion-group class="panel-default"
            ng-repeat="chin in chins | filter: {sex: 'Bak'} | orderBy: '-point'">
            <uib-accordion-heading>
              {{chin.idNumber}} {{chin.cageNumber}}
              <div style="float: right;">{{chin.point}}</div>
            </uib-accordion-heading>
            <div layout="row" ng-repeat="pair in chin.pairs | orderBy: '-point'" ng-class="{'grayed': pair.leave}">
              <div layout="column" flex>
                {{pair.idNumber}}
              </div>
              <div layout="column" flex>
                {{pair.cageNumber}}
              </div>
              <div layout="column" layout-align="end center" flex>
                {{pair.point}}
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </div>
    <div layout="column" flex="50">
      <div layout="row" layout-align="center">Nőstény</div>
      <div layout="row" layout-align="center" flex>
        <uib-accordion style="overflow-y: scroll;" flex="80">
          <div uib-accordion-group class="panel-default"
            ng-repeat="chin in chins | filter: {sex: 'Nőstény'} | orderBy: '-point'">
            <uib-accordion-heading>
              {{chin.idNumber}} {{chin.cageNumber}}
              <div style="float: right;">{{chin.point}}</div>
            </uib-accordion-heading>
            <div layout="row" ng-repeat="pair in chin.pairs | orderBy: '-point'" ng-class="{'grayed': pair.leave}">
              <div layout="column" flex>
                {{pair.idNumber}}
              </div>
              <div layout="column" flex>
                {{pair.cageNumber}}
              </div>
              <div layout="column" layout-align="end center" flex>
                {{pair.point}}
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>
